@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'sharpslab-bold';
    src: url('/fonts/SharpSlab-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'zillaslap-bold';
    src: url('/fonts/ZillaSlab-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'TCCC-UnityHeadline';
    font-weight: 300;
    src: url('/fonts/TCC-UnityHeadLine/TCCC-UnityHeadlineLight.ttf') format('truetype');
}

@font-face {
    font-family: 'TCCC-UnityHeadline';
    font-weight: 400;
    src: url('/fonts/TCC-UnityHeadLine/TCCC-UnityHeadlineMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'TCCC-UnityHeadline';
    font-weight: 700;
    src: url('/fonts/TCC-UnityHeadLine/TCCC-UnityHeadlineBold.ttf') format('truetype');
}

.hh-text-shadow{
    text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
